@import 'zeldamixin';
@import 'zeldaSwordmixin';

$heart-one:
"t", "g", "g", "t", "g", "g", "t",
"g", "r", "r", "g", "r", "r", "g",
"g", "r", "r", "g", "r", "r", "g",
"t", "g", "r", "r", "r", "g", "t",
"t", "t", "g", "r", "g", "t", "t",
"t", "t", "t", "g", "t", "t", "t";

$heart-two:
"t", "g", "g", "t", "g", "g", "t",
"g", "r", "r", "g", "r", "r", "g",
"g", "r", "r", "g", "r", "r", "g",
"t", "g", "r", "r", "r", "g", "t",
"t", "t", "g", "r", "g", "t", "t",
"t", "t", "t", "g", "t", "t", "t";

$heart-three:
"t", "g", "g", "t", "g", "g", "t",
"g", "r", "r", "g", "w", "w", "g",
"g", "r", "r", "g", "w", "w", "g",
"t", "g", "r", "r", "w", "g", "t",
"t", "t", "g", "r", "g", "t", "t",
"t", "t", "t", "g", "t", "t", "t";

$sword:
"t", "t", "t", "b", "t", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"g", "g", "g", "g", "g", "g", "g",
"g", "t", "b", "b", "b", "t", "g",
"t", "t", "g", "g", "g", "t", "t",
"t", "t", "b", "b", "b", "t", "t",
"t", "t", "g", "g", "g", "t", "t";

body {
    background-color: #E2CF80;
}

.box{
    position: relative;
    height: 450px;
    width: 600px;
    margin: 0 auto;
}

.hearts{
    position: absolute;
    width: 90%;
    left: 9.2%;
    overflow: auto;
}

.heart {
    $size: 150px;

    height: $size*6/7;
    width: $size;

    float: left;

    margin-right: $size*1/7;
}
.sword{
    position: absolute;
    width: 25%;
    height: 60%;
    left: 37.5%;
    bottom: 5%;
}
.text{
    position: absolute;
    height: 20%;
    width: 60%;
    left: 20%;
    font-family: "VT323";
    color: white;
    font-size: 5.5rem;
    text-align: center;
    text-shadow: 2px 4px gray;
    font-weight: 600;
}

.heart__one {
    @include heartpixelcolors($heart-one);
}

.heart__two {
    @include heartpixelcolors($heart-two);
}

.heart__three {
    @include heartpixelcolors($heart-three);
}
.sword{
    @include swordpixelcolors($sword);
}